DATABASE_URL="postgresql://{DATABASE_OWNER}:{OWNER_PASSWORD}@localhost:{DATABASE_PORT}/{DATABASE_NAME}?schema=public"
AUTH_SECRET="{USE_(npx auth)_TO_GENERATE}"
GOOGLE_CLIENT_ID="{OAUTH_GCLOUD_CLIENT}"
GEMINI_API_KEY="{GENERATED_BY_GEMINI}"
GEMINI_PROMPT="Give me a weekly challenge for a group of friends that are trying to stay in touch despite the distance. The challenge should be around 20-25 words long, specify something specific to photograph, and include a creative twist. Do not include multiple weeks or any extra explanation — just the single challenge. The challenge should be fun and quite simple for users without that much free time. Try and make it a little funny. I'm now going to provide you a list of generes that this group is based around, don't explicitly say the things in this list just try and keep your response generally related to these generes. LIST: "