.added-member {
  background-color: oklch(90.1% 0.058 230.902);
  border: 2px solid oklch(62.3% 0.214 259.815);
}

.unadded-member {
  background-color: oklch(70.5% 0.015 286.067);
  border: 2px solid oklch(37.3% 0.034 259.733);
}

.member-tile:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.member-tile {
  margin: 10px;
  width: 100px;
  transition: 0.5s ease;
  border-radius: 15px;
  text-align: center;
  padding: 0.5rem;
  font-size: .9rem;
}