.unadded-members {
  background-color: oklch(70.7% 0.022 261.325);
  border: 3px oklch(55.1% 0.027 264.364) solid;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: auto;
  max-height: 200px;
  z-index: 1;
}

.added-members {
  background-color: oklch(88.2% 0.059 254.128);
  border: 3px oklch(70.7% 0.165 254.624) solid;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 150px;
  z-index: 1;
}